{% extends 'base.html.twig' %}

{% block title 'Agence Ghrab Ismail' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence Ghrab Immo </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eius odit maxime distinctio animi earum, voluptatum dolorum dolor reiciendis illum quisquam fugit similique consectetur quasi ex ab autem nulla, optio impedit dolores quia sit pariatur iure aspernatur. Rerum impedit quasi a, tempora sit, doloribus beatae recusandae, possimus ducimus nemo omnis.</p>
</div>

{% endblock %}